.gitignore
.idea/copyright/profiles_settings.xml
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/jijiwatch.iml
.idea/misc.xml
.idea/modules.xml
.idea/sqldialects.xml
.idea/workspace.xml

